<div
  class="container-fluid page-header py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <h1 class="display-4 animated slideInDown mb-4 text-uppercase">Misión y Visión</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a (click)="inicio()">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Misión y Visión
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- Features Start -->

<div class="container">
  <div class="row justify-content-md-center">
    <div class="card">
      <div class="card-body">
        <div class="container-xxl py-5">
          <div class="container">
            <div class="row g-5">
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h5 class="text-uppercase"><strong>Misión</strong></h5>
                <p>
                  Crear y proveer un equipo de profesionales, dispuestos a
                  solucionar las necesidades tecnológicas de nuestros clientes,
                  brindandi así un servicio eficiente y eficaz con produyctos de
                  calidad.
                </p>
              </div>
              <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <h5 class="text-uppercase"><strong>Visión</strong></h5>
                <p>
                  Ser la empresa líder en tecnología del medio, en base a
                  innovación, calidad, ética y trabajo en equipo en beneficio de
                  nuestros clientes.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
