<div class="container-fluid bg-dark text-white-50 py-2 px-0 d-none d-lg-block">
  <div class="row gx-0 align-items-center">
    <div class="col-lg-7 px-5 text-start">
      <div class="h-100 d-inline-flex align-items-center me-4">
        <a
          (click)="
            abrirLink(
              'https://api.whatsapp.com/send/?phone=593963644323&text&type=phone_number&app_absent=0'
            )
          "
          ><small class="bi bi-phone me-2"></small>
          <small>+593 96 364 4323</small></a
        >
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <a
          ><small class="bi bi-envelope-open me-2"></small>
          <small>strventas@teamcellmania.com</small></a
        >
      </div>
      <div class="h-100 d-inline-flex align-items-center me-4">
        <small class="bi bi-clock me-2"></small>
        <small>Lun - Vier : 08 AM - 8:30 PM</small>
      </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
      <div class="h-100 d-inline-flex align-items-center">
        <a
          class="text-white-50 ms-4"
          (click)="abrirLink('https://www.facebook.com/teamcellmania')"
          ><i class="bi bi-facebook"></i
        ></a>
        <a
          class="text-white-50 ms-4"
          (click)="abrirLink('https://www.instagram.com/teamcellmania/')"
          ><i class="bi bi-instagram"></i
        ></a>
        <a
          class="text-white-50 ms-4"
          (click)="abrirLink('https://www.youtube.com/@teamcellmania877')"
          ><i class="bi bi-youtube"></i
        ></a>
        <a
          class="text-white-50 ms-4"
          (click)="
            abrirLink(
              'https://www.tiktok.com/@teamcellmania_13?_t=8aocA7rf4gY&_r=1'
            )
          "
          ><i class="bi bi-tiktok"></i
        ></a>
      </div>
    </div>
  </div>
</div>
