<div
  class="container-fluid page-header py-5 mb-5 wow fadeIn"
  data-wow-delay="0.1s"
>
  <div class="container py-5">
    <h1 class="display-4 animated slideInDown mb-4 text-uppercase">Términos y condiciones</h1>
    <nav aria-label="breadcrumb animated slideInDown">
      <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item"><a (click)="inicio()">Inicio</a></li>
        <li class="breadcrumb-item active" aria-current="page">
          Términos y condiciones
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Page Header End -->

<!-- Features Start -->
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-lg-11">
      <div class="card">
        <div class="card-body">
          <div class="container-xxl py-5">
            <div class="row">
              <div class="d-flex justify-content-center align-items-center">
                <h1 class="display-6 mb-5 text-uppercase">Términos y condiciones</h1>
              </div>
            </div>
            <div class="container">
              <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                  <p>¡Bienvenido a TeamCellmania!</p>
                  <p>
                    Estos términos y condiciones describen las reglas y
                    regulaciones para el uso del sitio web de TeamCellmania,
                    ubicado en https://teamcellmania.com
                  </p>
                  <p>
                    Al acceder a este sitio web, asumimos que aceptas estos
                    términos y condiciones. No continúes usando TeamCellmania si
                    no estás de acuerdo con todos los términos y condiciones
                    establecidos en esta página.
                  </p>

                  <h5><strong>Cookies:</strong></h5>
                  <p>
                    El sitio web utiliza cookies para ayudar a personalizar tu
                    experiencia en línea. Al acceder a TeamCellmania, aceptaste
                    utilizar las cookies necesarias.
                  </p>
                  <p>
                    Una cookie es un archivo de texto que un servidor de páginas
                    web coloca en tu disco duro. Las cookies no se pueden
                    utilizar para ejecutar programas o enviar virus a tu
                    computadora. Las cookies se te asignan de forma exclusiva y
                    solo el servidor web en el dominio que emitió la cookie
                    puede leerlas.
                  </p>
                  <p>
                    Podemos utilizar cookies para recopilar, almacenar y
                    rastrear información con fines estadísticos o de marketing
                    para operar nuestro sitio web. Tienes la capacidad de
                    aceptar o rechazar cookies opcionales. Hay algunas cookies
                    obligatorias que son necesarias para el funcionamiento de
                    nuestro sitio web. Estas cookies no requieren tu
                    consentimiento ya que siempre funcionan. Ten en cuenta que
                    al aceptar las cookies requeridas, también aceptas las
                    cookies que podrían usarse a través de servicios
                    proporcionados por terceros, por ejemplo, una ventana de
                    visualización de video proporcionada por terceros e
                    integrada en nuestro sitio web.
                  </p>

                  <h5><strong>Licencia:</strong></h5>
                  <p>
                    A menos que se indique lo contrario, TeamCellmania y/o sus
                    licenciantes poseen los derechos de propiedad intelectual de
                    todo el material en TeamCellmania. Todos los derechos de
                    propiedad intelectual son reservados. Puedes acceder desde
                    TeamCellmania para tu uso personal sujeto a las
                    restricciones establecidas en estos términos y condiciones.
                  </p>
                  <p>No debes:</p>
                  <ul>
                    <li>
                      Copiar o volver a publicar material de TeamCellmania
                    </li>
                    <li>
                      Vender, alquilar o sublicenciar material de TeamCellmania
                    </li>
                    <li>
                      Reproducir, duplicar o copiar material de TeamCellmania
                    </li>
                    <li>Redistribuir contenido de TeamCellmania</li>
                  </ul>
                  <p>Este acuerdo entró en vigencia el 01/03/2023.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                  <h5><strong>Exención de responsabilidad:</strong></h5>
                  <p>
                    En la medida máxima permitida por la ley aplicable, siempre
                    que el sitio web, la información y los servicios en el mismo
                    se proporcionen de forma gratuita, no seremos responsables
                    de ninguna pérdida o daño de cualquier naturaleza.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
